<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Filters</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <form th:action="@{/calendar-result}" method="get">
                    <div>

                        <div class="card" style="margin-top: 20px">
                            <div class="card-header">
                                <h5 class="card-title">Rodzaj terminu</h5>
                            </div>
                            <div class="card-body">

                                <input type="radio" required="required" name="date_type" value="contactDate" id="id1" th:field="${form.dateType}"/>
                                <label for="id1">Telefon</label><br>

                                <input type="radio" required="required" name="date_type" value="photographingDate"  id="id2" th:field="${form.dateType}"/>
                                <label for="id2">Fotografowanie</label><br>

                                <input type="radio" required="required" name="date_type" value="payoffDate"  id="id3" th:field="${form.dateType}"/>
                                <label for="id3">Rozliczenie</label><br>

                                <input type="radio" required="required" name="date_type" value="otherDate"  id="id4" th:field="${form.dateType}"/>
                                <label for="id4">Inna</label><br>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Data</h5>
                            </div>
                            <div class="card-body">
                                <label>Od</label>
                                <input type="date" class="form-control" th:field="${form.dateFrom}" />
                                <label>do</label>
                                <input type="date" class="form-control" th:field="${form.dateTo}" />
                            </div>
                        </div>

                        <div class="card" >
                            <div class="card-header">
                                <h5 class="card-title">Powiat</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <select class="form-control mr-sm-2" th:field="${form.county}">
                                        <option th:value="''" th:text="Wybierz"></option>
                                        <option th:each="county : ${counties}" th:value="${county}"
                                                th:text="${county}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Gmina</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <input type="text" class="form-control" th:field="${form.borough}"/>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-dark" type="submit" style="margin-left: 250px">Filtruj</button>
                    </div>
                </form>
                <br>
            </div>


            <div class="col-md-9">

                <th:block th:each="date : ${schools}">


                    <div class="card" style="margin-top: 40px">
                        <div class="card-header bg-dark text-white">
<!--                            <h5 class="card-title" align="center" th:text="${date.key.format('dd-MM-yyyy')}">DD.MM.RRRR</h5>-->
                            <h5 class="card-title" align="center" th:text="${#temporals.format(date.key, 'dd-MM-yyyy')}"></h5>
                        </div>
                        <div class="card-body" style="background-color: beige">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Powiat</th>
                                        <th>Gmina</th>
                                        <th>Miejscowość</th>
                                        <th>Nazwa</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                    </tr>
                                    </thead>

                                    <tr th:each="school : ${date.getValue()}">
                                        <td th:text="${school.getAddress().county}"></td>
                                        <td th:text="${school.getAddress().borough}"></td>
                                        <td th:text="${school.getAddress().city}"></td>
                                        <td><a href="#" style="color: black" th:href="@{'school/' + ${school.id}}"
                                               th:text="${school.name}"></a></td>
                                        <td th:text="${school.getAddress().street}"></td>
                                        <td th:text="${school.getPhones().get(0).getPhoneNumber()}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>



                </th:block>

            </div>
            <br>
            <br>
        </div>
    </div>
</div>
</body>
</html>