<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="UTF-8">
    <title>School-view</title>

    <style>
p.note {
    white-space: pre-line
}
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-3 col-md-offset-3"></div>
            <div class="col-md-6 col-md-offset-3">
                <div>
                    <h4 align="center" th:text="${school.name}"></h4>
                    </br>

                    <h5>Dane adresowe</h5>
                    <table>
                        <tr>
                            <td th:text="'Adres: ' + ${school.getStreet()} + ' ' + ${school.getZipCode()} + ' ' + ${school.getCity()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'Województwo: ' + ${school.getVoivodeship()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'Powiat: ' + ${school.getCounty()}"></td>
                        </tr>
                        <tr>
                            <td th:text="'Gmina: ' + ${school.getBorough()}"></td>
                        </tr>
                        <tr>
                            <td>Strona: <a href="#" th:href="${school.getWebsite()}"
                                           th:text="${school.getWebsite()}"></a></td>
                        </tr>
                        <tr>
                            <td th:text="'Status: ' + ${school.getPublicStatus()}"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.getEmployee() != null} ? 'Fotograf: ' + ${school.employee} : 'Fotograf: brak'"></td>
                        </tr>
                    </table>
                    <br>

                    <h5>Telefony</h5>
                    <table>
                        <tr th:each="phone : ${school.getPhones()}">
                            <td th:text="${phone.getNumber()} + ${phone.getNote()}"></td>
                        </tr>
                    </table>
                    <br>

                    <h5>Status</h5>
                    <table>
                        <tr>
                            <td th:text="${school.isOurs() == true} ? 'Nasza: tak' : 'Nasza: nie'"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.isContracted() == true} ? 'Umówiona: tak' : 'Umówiona: nie'"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.getCalendarsLeftNumber() != null} ? 'Kalendarze: ' + ${school.getCalendarsLeftNumber()} + ' szt' : 'Kalendarze: brak'"></td>
                        </tr>
                    </table>
                    <br>

                    <h5>Kalendarz</h5>
                    <table>
                        <tr>
                            <td th:text="${school.getContactDate() != null} ? 'Umowa: ' + ${school.getContactDate()} : 'Umowa: brak daty'"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.getPhotographingDate() != null} ? 'Fotografowanie: ' + ${school.getPhotographingDate()} : 'Fotografowanie: brak daty'"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.getPayOffDate() != null} ? 'Rozliczenie: ' + ${school.getPayOffDate()} : 'Rozliczenie: brak daty'"></td>
                        </tr>
                        <tr>
                            <td th:text="${school.getPayOffDate() != null} ? 'Inny: ' + ${school.getPayOffDate()} : 'Inny: brak daty'"></td>
                        </tr>
                    </table>
                    <br>

                    <h5>Notatki</h5>
                    <p><b>Notatka 1</b></p>
                    <p class="note" th:text="${!school.getNote1().isEmpty()} ? ${school.getNote1()} : 'Brak notatki 1'"></p>
                    <br>
                    <p><b>Notatka 2</b></p>
                    <p class="note" th:text="${!school.getNote2().isEmpty()} ? ${school.getNote2()} : 'Brak notatki 2'"></p>
                    <br>
                    <p><b>Notatka 3</b></p>
                    <p class="note" th:text="${!school.getNote3().isEmpty()} ? ${school.getNote3()} : 'Brak notatki 3'"></p>
                    <br>
                    <form th:action="@{'/school/' + ${school.getId()} + '/update'}" method="get">

                        <button class="btn btn-light btn-lg mr-5" type="submit">Modyfikuj</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-3"></div>
        </div>
    </div>
</div>

</body>
</html>