<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-1 col-md-offset-3"></div>
            <div class="col-md-10 col-md-offset-3">

                <div align="center">

                    <form th:action="@{/search-result}" class="form-inline justify-content-center" method="get">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">
                                <label for="voivodeships" class="mr-sm-2">Województwo</label>
                                <select class="form-control mr-sm-2" id="voivodeships" th:field="${form.voivodeship}"
                                        name="voivodeship">
                                    <option th:value="Łódzkie" th:text="Wybierz"></option>
                                    <option th:each="voivodeship : ${voivodeships}" th:value="${voivodeship.name()}"
                                            th:text="${voivodeship.getName()}"></option>
                                </select>
                            </div>

                            <div class="col-md-3 col-md-offset-3">
                                <label for="counties" class="mr-sm-2">Powiat</label>
                                <select class="form-control mr-sm-2" id="counties" th:field="${form.county}"
                                        name="county">
                                    <option th:value="''" th:text="Wybierz"></option>
                                    <option th:each="county : ${counties}" th:value="${county}"
                                            th:text="${county}"></option>
                                </select>
                            </div>

                            <div class="col-md-3 col-md-offset-3">
                                <label for="boroughs" class="mr-sm-2">Gmina</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Gmina"
                                       name="borough" id="boroughs" th:field="${form.borough}">
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <label for="cities" class="mr-sm-2">Miasto</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Miasto" name="city"
                                       id="cities" th:field="${form.city}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">
                                <label for="types" class="mr-sm-2">Typ placówki</label>
                                <select class="form-control mr-sm-2" id="types" name="type">
                                    <option th:value="''" th:text="Wybierz" th:field="${form.type}"></option>
                                    <option th:each="type : ${types}" th:value="${type.getName()}"
                                            th:text="${type.getName()}"></option>
                                </select>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <label for="schoolName" class="mr-sm-2">Nazwa</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Nazwa" name="name"
                                       id="schoolName" th:field="${form.name}">
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <label for="schoolAddress" class="mr-sm-2">Adres</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Adres" name="address"
                                       id="schoolAddress" th:field="${form.street}">
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <label for="schoolPhone" class="mr-sm-2">Telefon</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Numer telefonu"
                                       name="address" id="schoolPhone" th:field="${form.phone}">
                            </div>
                        </div>
                        <p align="center">
                            <button type="submit" class="btn btn-dark mb-2">Szukaj</button>
                        </p>
                    </form>

                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h1 class="card-title" align="center">Wyniki wyszukiwania</h1>
                        </div>
                        <div class="card-body" style="background-color: beige">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>Powiat</th>
                                        <th>Gmina</th>
                                        <th>Miejscowość</th>
                                        <th>Typ placówki</th>
                                        <th>Nazwa</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                    </tr>
                                    </thead>
                                    <tr th:remove="all">
                                        <td><a href="#">123</a></td>
                                        <td>Bla bla</td>
                                        <td>Bubu</td>
                                        <td>Bla bla</td>
                                        <td>Bla bla</td>
                                        <td>Bla bla</td>
                                    </tr>
                                    <tr th:each="school : ${schools}">
                                        <td th:text="${school.getAddress().county}"></td>
                                        <td th:text="${school.getAddress().borough}"></td>
                                        <td th:text="${school.getAddress().city}"></td>
                                        <td th:text="${school.type}"></td>
                                        <td><a href="#" style="color: black" th:href="@{'school/' + ${school.id}}"
                                               th:text="${school.name}"></a></td>
                                        <td th:text="${school.getAddress().street}"></td>
                                        <td th:if="${!school.getPhones().isEmpty()}" th:text="${school.getPhones().get(0).getPhoneNumber()}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-md-offset-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>